.box-layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100vw;
}

.box-layout__box {
  background: $nevada;
  border-radius: 2.5px;  
  box-shadow: 3px 3px 2px grey;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
  color: $alabaster;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
