.button {
  color: $blue;
  border: none;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  line-height: 1;
  padding: $m-size;
  text-decoration: none;
}

.nav {
  background: $blue;
  color: $new-white;
  border-radius: 30px;
  font-size: 1.5rem
}

.nav:hover {
  background: $smooth-blue;
}

.create {
  border-radius: 5px;
  padding: $m-size;
  font-size: 2rem;
  color: $blue;
  background: $alabaster;
}

.create:hover {
  background: #efefef;
}

.view-button {
  font-size: 1.2rem;
  border-radius: 5px;
  margin: $xs-size;
  background: white;
}

.view-button:hover {
  background: $new-white;
}

.user {
  color: $alabaster;
  background: $blue;
  border: 1px solid $alabaster;
  border-radius: 5px;
  margin: $m-size;
}

.user:hover {
  background: $smooth-blue;
}


.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}
