.button-container {
  display: flex;
  justify-content: space-between;
}

.button {
  color: $blue;
  border: none;
  display: inline-block;
  font-weight: 300;
  line-height: 1;
  padding: $m-size;
  text-decoration: none;
}

.nav {
  background: $new-white;
  color: $blue;
  border-radius: 30px;
  font-size: 1.5rem
}

.nav:hover {
  background: #efefef;
  // background: $smooth-blue;
}

.create {
  border-radius: 5px;
  padding: $m-size;
  font-size: 2rem;
  color: $alabaster;
  background: $blue;
}

.create:hover {
  background: $smooth-blue;
}

.view-button {
  font-size: 1.2rem;
  border-radius: 5px;
  margin: $xs-size;
  background: white;
}

.view-button:hover {
  background: $new-white;
}

.user {
  color: $alabaster;
  background: $blue;
  border: 1px solid $alabaster;
  border-radius: 5px;
  margin: $m-size;
}

.user:hover {
  background: $smooth-blue;
}


.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.getting-started {
  margin: auto;
}

@include breakpoint(mobileonly) {
  .create {
    width: 40%;
    font-size: 1.1rem;
  }
}