.combined-tier-list-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.tier-list-box-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.combined-tier-list-box {
    background: #b2dbbf;
    border-radius: 2.5px;  
    overflow: auto;
    box-shadow: 3px 3px 2px $dark-grey;
    padding: $l-size $m-size;
    text-align: center;
    min-width: 25rem;
    max-height: 40vh;
    color: white;
    margin: 5px;
    width: 85%;
    margin-bottom: 25px;
  }

.box-title {
    font-size: 2.5rem;
}

.tier-list-row {
    border: solid $cape-cod 1px;
    background: $alabaster;
    box-shadow: 3px 3px 2px $dark-grey;
    border-radius: 2.5px;
    margin: $xs-size;
    color: $revolver;
    padding: $m-size;
    width: 15%;
}

.tier-list-title {
    color: $blue;
    font-size: 2rem;
}

.tier-list-title:hover{
    color: $smooth-blue;
}

.tier-list-text {
    font-size: 1rem;
}

.author {
    font-style: italic; 
    color: #555555;
}

@include breakpoint(mobileonly) {
    .combined-tier-list-container {
        flex-direction: column;
        align-items: center;
    }
    .combined-tier-list-box {
        margin-bottom: 25px;
        max-height: 40vh;
    }
    .tier-list-box-container {
        flex-direction: column;
    }
    .tier-list-row {
        width: 90%;
    }
    .box-title {
        font-size: 2rem;
    }
    .tier-list-title {
        font-size: 1.5rem
    }
}

@include breakpoint(phablet) {
    .tier-list-row {
        width: 25%;
    }
}