.combined-tier-list-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.combined-tier-list-box {
    background: $crisp-red;
    border-radius: 2.5px;  
    box-shadow: 3px 3px 2px $dark-grey;
    padding: $l-size $m-size;
    text-align: center;
    min-width: 25rem;
    color: white;
    margin: 5px;
  }

.box-title {
    font-size: 2.5rem;
}

.tier-list-row {
    border: solid $cape-cod 1px;
    background: $alabaster;
    box-shadow: 3px 3px 2px $dark-grey;
    border-radius: 2.5px;
    margin: $xs-size;
    color: $revolver;
    padding: $m-size;
}

.tier-list-title {
    color: $crisp-red;
    font-size: 2rem;
}

.tier-list-title:hover{
    color: #c16147;
}

.tier-list-text {
    font-size: 1rem;
}

@include breakpoint(mobileonly) {
    .combined-tier-list-container {
        flex-direction: column;
    }
    .box-title {
        font-size: 2rem;
    }
    .tier-list-title {
        font-size: 1.5rem
    }
}