.getting-started-container {
    margin: $m-size auto;
    text-align: center;
    width: 40%;
}

.getting-started {
    text-align: center;
}

@include breakpoint(mobileonly) {
    .getting-started-container {
        width: 80%;
    }
  }