.header {
  background: $cape-cod;
  border-radius: 2.5px;
  margin: 0.5px;
  box-shadow: 3px 3px 2px $dark-grey;
}

.header__content {
  color: $alabaster;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: $alabaster;
  font-size: 3rem;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
