.drag-drop-container {
    color: $crisp-red;
    display: flex;
}

.column-container {
    background: white;
    margin: 8px 15px 8px 8px;
    border: 1px solid $revolver;
    border-radius: 5px;
    min-height: 7.5rem;
    display: flex;
}

.column-title {
    color: $crisp-red;
    font-size: 2.5rem;
    padding: 8px;
}

.competitor-list {
    padding: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
}


