.view-tier-list-container {
    width: 50%;
    margin: 10vh auto auto auto;
    padding: $m-size;
}

.header-container {
    margin: auto auto $ml-size auto;
    width: 60%;
    padding: $m-size;
    background: white;
    border-radius: 5px;
}

.view-tier-list-title {
    font-size: 2rem;
    text-align: center;
    color: $crisp-red;
}

.view-tier-list-description {
    font-size: 1.6rem;
    text-align: center;
    color: gray;
}

@include breakpoint(mobileonly) {
    .view-tier-list-container {
      width: 80%;
    }
  }

  .competitor-container {
      display: flex; 
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto auto $ml-size auto;
      width: 80%;
      justify-content: center;
      text-align: center;
      background: $alabaster;
      color: gray;
      padding: $m-size;
      border-radius: 5px;
  }

  .view-competitor {
      width: 30%;
  }
  
  .button-container {
      margin: auto;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .single-button {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  @include breakpoint(mobileonly) {
    .button-container {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}