* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

html {
  font-size: 62.5%;
}

#app {
  height: 100%;
  min-height: 100vh;
  display: block;
  position: relative;
}

#app::after {
  content: "";
  background-color: #f3f3f3;
  // background: url('/images/mochaGrunge.png') fixed bottom;
  top: 0; 
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.7;
  z-index: -1;
}

body {
  text-align: center;
  color: $outer-space;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}


button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

.error {
  color: red;
}